body {
    background: #696969; /* nice-gray: Background */
    /*color:      #E8E1E1;*/
}

.navbar {
    background: #6145D2; /* red: Navbar */
}

.dropdown-menu {
    background: #C4C4C4; /*Gray-White: Dropdown box*/
}

.h1, .h2 {
    color: #FFFFFF; /*Red: Header Text*/
}

a, .btn {
    color: #E8E1E1; /*White: Text*/
}

.box, .form-box {
    background-color: #444A7B;
    border-radius: 10px;
}
.box, .form-check {
    color:      #E8E1E1;
}