/* My Tweaks */

#itemDescription {
    border: 1px solid #42DCA3;
    color: #42DCA3;
    background-color: transparent;
    width: 360px;
    text-transform: uppercase;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
}

#toDo {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    border: 1px solid #42DCA3;
}

li.incomplete {
    color: black;
    background-color: #42DCA3;
}

li.complete {
    background-color: black;
    color: #999999;
}