{% extends 'base.html' %}

{% block content %}
<div class="container mt-3 box">
    <p class="h1 text-center pt-1">Meet the team!</p>
    <div class="row justify-content-center">
        <p class="col-6 text-center">
            Keep track of what you own and what you're playing!
        </p>
    </div>
</div>
<div class="container mt-3">
    <div class="row gy-2 mb-2">
        <div class="col-lg-6 col-md-9">
            <div class="box p-2">
                <div class="h2 p-2">David Gibson</div>  
                <p>Computer Science student at ECU</p>
                <p>Contact: <a class="fw-bold" href="mailto:gibsond18@students.ecu.edu">gibsond18@students.ecu.edu</a></p>
            </div>
        </div>
        <div class="col-lg-6 col-md-9">
            <div class="box p-2">
                <div class="h2 p-2">Evin Fisher</div>
                <p>Computer Science student at ECU</p>                      
                <p>Contact: <a class="fw-bold" href="mailto:fisherev19@students.ecu.edu">fisherev19@students.ecu.edu</a></p>
            </div>
        </div>
    </div>          
</div>
{% endblock %}