<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">

    <title>Questlog!</title>
  </head>
  <body>
    {% include 'navbar.html' %}    

    {% block content %}{% endblock %}
    
    <!--Bootstrap JS -->
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>    
  </body>
</html>