{% extends 'base.html' %}

{% block content %}
<div class="container mt-3 box">
    <p class="h1 text-center pt-1">Fill out this form to enter a title into your library!</p>
    <div class="row justify-content-center">
        <p class="col-6 text-center">
            Keep track of what you own and what you're playing!
        </p>
    </div>
</div>
<div class="container mt-3 form-box">
    <form class="py-3" method="post">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="titleInput" placeholder="empty" name="title" value="{{ request.form['title'] }}">
            <label for="titleInput">Title</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="imageURLInput" placeholder="empty" name="logo" value="{{ request.form['logo'] }}">
            <label for="imageURLInput">Image url (optional)</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="genreInput" placeholder="empty" name="genre" value="{{ request.form['genre'] }}">
            <label for="genreInput">Genre</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="hoursInput" placeholder="empty" name="hours" value="{{ request.form['hours'] }}">
            <label for="hoursInput">Hours played</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="playing" id="playingInput0" value="0" checked>
            <label class="form-check-label" for="playingInput0">Not played</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="playing" id="playingInput1" value="1">
            <label class="form-check-label" for="playingInput1">Currently playing</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="playing" id="playingInput2" value="2">
            <label class="form-check-label" for="playingInput2">Finished</label>
        </div>
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
</div>
{% endblock %}