{% extends 'base.html' %}

{% block content %}
<div class="container col-6 mt-3 box">
    <p class="h1 text-center pt-1">Welcome to Questlog!</p>
    <div class="row justify-content-center">
        <p class="col-6 text-center">
            Keep track of what you own and what you're playing!
        </p>
    </div>
</div>

{% if games %}
<div class="container-lg mt-3">
<table class="table">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Favorite</th>
            <th scope="col">Logo</th>
            <th scope="col">Genre</th>
            <th scope="col">Hours</th>
            <th scope="col">Completion</th>
            <th scope="col">Notes</th>
        </tr>
    </thead>    
    <tbody>
        {% for game in games %}
        <form>
            <tr>
                <th class="col-6" scope="row" name="title" value="{{ request.form[game[0]] }}">{{game[0]}}</th>
                {% if game[1] == 0 %}
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="favorite" value="{{ request.form['favorite'] }}" id="fav">
                            <label class="form-check-label" for="fav">Favorite</label>
                        </div>
                    </td>
                {% else %}
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="favorite" value="{{ request.form['favorite'] }}" id="fav" checked>
                            <label class="form-check-label" for="fav">Favorite</label>
                        </div>
                    </td>
                {% endif %}            
                <td><img src="{{game[2]}}" class="img-thumbnail" width="200" height="200"></td>
                <td>{{game[3]}}</td>
                <td>{{game[4]}}</td>
                {% if game[5] == 0 %}
                    <td>Not played</td>
                {% elif game[5] == 1 %}
                    <td>Playing</td>
                {% else %}
                    <td>Completed</td>
                {% endif %}
                <td>
                    <input class="btn btn-primary" type="submit" value="Update {{game[0]}}">
                </td>            
            </tr>
            <tr>
                <td class="form-floating" colspan="7">                
                    <textarea class="form-control" placeholder="empty" id="notesArea" name="notes" value="{{ request.form['notes'] }}">{{game[6]}}</textarea>
                    <label for="notesArea">Notes</label>
                </td>
            </tr>
        </form>
        {% endfor %}
    </tbody>    
</table>
</div>
{% else %}
    <h1>There are no games saved!</h1>
{% endif %}

{% endblock %}